[Desktop Entry]
Version=1.0
Type=Application
Name=Server Manager
Comment=Gestione Server Ingresso/Uscita
Comment[en]=Ingresso/Uscita Server Manager
Exec=/home/tom/ingrARM/ingresso_uscita/serverUI/server_ui/start_server_manager.sh
Icon=/home/tom/ingrARM/ingresso_uscita/serverUI/server_ui/assets/images/server_icon.png
Terminal=false
StartupNotify=true
Categories=System;Monitor;
Keywords=server;manager;ingresso;uscita;timbrature;attendance;
StartupWMClass=server_ui